.item-details-view {
    background-color: #1d1d1d;
    width: 100%;
    padding: 20px;
    border: none;
}

.item-details-view .card-title {
    text-align: center;
}

.item-details-view .card-text {
    padding: 8px;
    font-size: 16px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.3);
}

.item-details-view .icon {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
